<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>
	<div id="content">
		<h1>Hey,I'm BelieverC</h1>
		<h2>Welcome to Believer World!</h2>
	</div>
</div>